.CurrentTurn {
    width: 100%;
    text-align: center;
    margin: 0;
}

.Label {
    font-size: x-large;
    margin-bottom: 0;
}

.Value {
    margin-top: 0;
    font-size: 35px;
    color: white;
}